<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mafyusuf.thirukkualaalayam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mylogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/thiruvalluvar2"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".thiru_133"></activity>
        <activity android:name=".thiru_132" />
        <activity android:name=".thiru_131" />
        <activity android:name=".thiru_130" />
        <activity android:name=".thiru_129" />
        <activity android:name=".thiru_128" />
        <activity android:name=".thiru_127" />
        <activity android:name=".thiru_126" />
        <activity android:name=".thiru_125" />
        <activity android:name=".thiru_124" />
        <activity android:name=".thiru_123" />
        <activity android:name=".thiru_122" />
        <activity android:name=".thiru_121" />
        <activity android:name=".thiru_120" />
        <activity android:name=".thiru_119" />
        <activity android:name=".thiru_118" />
        <activity android:name=".thiru_117" />
        <activity android:name=".thiru_116" />
        <activity android:name=".thiru_115" />
        <activity android:name=".thiru_114" />
        <activity android:name=".thiru_113" />
        <activity android:name=".thiru_112" />
        <activity android:name=".thiru_111" />
        <activity android:name=".thiru_110" />
        <activity android:name=".thiru_109" />
        <activity android:name=".thiru_108" />
        <activity android:name=".thiru_107" />
        <activity android:name=".thiru_106" />
        <activity android:name=".thiru_105" />
        <activity android:name=".thiru_104" />
        <activity android:name=".thiru_103" />
        <activity android:name=".thiru_102" />
        <activity android:name=".thiru_101" />
        <activity android:name=".thiru_100" />
        <activity android:name=".thiru_99" />
        <activity android:name=".thiru_98" />
        <activity android:name=".thiru_97" />
        <activity android:name=".thiru_96" />
        <activity android:name=".thiru_95" />
        <activity android:name=".thiru_94" />
        <activity android:name=".thiru_93" />
        <activity android:name=".thiru_92" />
        <activity android:name=".thiru_91" />
        <activity android:name=".thiru_90" />
        <activity android:name=".thiru_89" />
        <activity android:name=".thiru_88" />
        <activity android:name=".thiru_87" />
        <activity android:name=".thiru_86" />
        <activity android:name=".thiru_85" />
        <activity android:name=".thiru_84" />
        <activity android:name=".thiru_83" />
        <activity android:name=".thiru_82" />
        <activity android:name=".thiru_81" />
        <activity android:name=".thiru_80" />
        <activity android:name=".thiru_79" />
        <activity android:name=".thiru_78" />
        <activity android:name=".thiru_77" />
        <activity android:name=".thiru_76" />
        <activity android:name=".thiru_75" />
        <activity android:name=".thiru_74" />
        <activity android:name=".thiru_73" />
        <activity android:name=".thiru_72" />
        <activity android:name=".thiru_71" />
        <activity android:name=".thiru_70" />
        <activity android:name=".thiru_69" />
        <activity android:name=".thiru_68" />
        <activity android:name=".thiru_67" />
        <activity android:name=".thiru_66" />
        <activity android:name=".thiru_65" />
        <activity android:name=".thiru_64" />
        <activity android:name=".thiru_63" />
        <activity android:name=".thiru_62" />
        <activity android:name=".thiru_61" />
        <activity android:name=".thiru_60" />
        <activity android:name=".thiru_59" />
        <activity android:name=".thiru_58" />
        <activity android:name=".thiru_57" />
        <activity android:name=".thiru_56" />
        <activity android:name=".thiru_55" />
        <activity android:name=".thiru_54" />
        <activity android:name=".thiru_53" />
        <activity android:name=".thiru_52" />
        <activity android:name=".thiru_51" />
        <activity android:name=".thiru_50" />
        <activity android:name=".thiru_49" />
        <activity android:name=".thiru_48" />
        <activity android:name=".thiru_47" />
        <activity android:name=".thiru_46" />
        <activity android:name=".thiru_45" />
        <activity android:name=".thiru_44" />
        <activity android:name=".thiru_43" />
        <activity android:name=".thiru_42" />
        <activity android:name=".thiru_41" />
        <activity android:name=".thiru_40" />
        <activity android:name=".thiru_39" />
        <activity android:name=".thiru_38" />
        <activity android:name=".thiru_37" />
        <activity android:name=".thiru_36" />
        <activity android:name=".thiru_35" />
        <activity android:name=".thiru_34" />
        <activity android:name=".thiru_33" />
        <activity android:name=".thiru_32" />
        <activity android:name=".thiru_31" />
        <activity android:name=".thiru_30" />
        <activity android:name=".thiru_29" />
        <activity android:name=".thiru_28" />
        <activity android:name=".thiru_27" />
        <activity android:name=".thiru_26" />
        <activity android:name=".thiru_25" />
        <activity android:name=".thiru_24" />
        <activity android:name=".thiru_23" />
        <activity android:name=".thiru_22" />
        <activity android:name=".thiru_21" />
        <activity android:name=".thiru_20" />
        <activity android:name=".thiru_19" />
        <activity android:name=".thiru_18" />
        <activity android:name=".thiru_17" />
        <activity android:name=".thiru_16" />
        <activity android:name=".thiru_15" />
        <activity android:name=".thiru_14" />
        <activity android:name=".thiru_13" />
        <activity android:name=".thiru_12" />
        <activity android:name=".thiru_11" />
        <activity android:name=".thiru_10" />
        <activity android:name=".thiru_9" />
        <activity android:name=".thiru_8" />
        <activity android:name=".thiru_7" />
        <activity android:name=".thiru_6" />
        <activity android:name=".thiru_5" />
        <activity android:name=".thiru_4" />
        <activity android:name=".thirukural_3" />
        <activity android:name=".thirukural_2" />
        <activity android:name=".thirukkurals" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>